<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Varietes - List
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- Ionic 4.x Code -->
    <!-- <ion-nav-push [component]="nextPage" [componentProps]="{level: level+1}"> -->
 <h4>VARIETE MODULE</h4>
  

    <ion-nav click="getPrevious()"> <!--  root="Tab2Page"  --> 
      <ion-item button>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
        <ion-label>
         TEST
        </ion-label>
      </ion-item>
    </ion-nav>
 
  </ion-list>
 
</ion-content>